<div class="row" style="margin-top: 40px; ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <%= form_with url:comments_path(product_id: product.id), model: comment, local: true do |f| %>
        <div class="form-group row">
          <%= f.label :title, 'タイトル ', class:'col-md-3 col-form-label' %>
          <div class="col-md-9">
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>

        <!-- 評価 -->
        <div class="form-group row" id="star">
          <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>

        <!-- 評価javascript -->
        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'product_comment[rate]',
          half: true,
        });
        </script>

        <!-- 口コミ -->
        <div class="form-group row">
          <%= f.label :messege, '口コミ内容 ', class:'col-md-3 col-form-label' %>
          <div class="col-md-9">
            <%= f.text_area :messege, class: "form-control", rows: "8",
              placeholder:'※再投稿した場合は前の投稿に上書きされます！' %>
          </div>
        </div>

        <!-- 確認ボタン -->
        <div class="form-group row justify-content-end">
          <div class="col-md-9">
            <%= f.submit '投稿する', class:"btn btn-success" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>