<% product.comments.each do |product_comment| %>
  <div>
    <h2 class="side-bar"><%= product_comment.title %></h2>
  </div>
    <div class="flex_box">
      <div class="col-md-4">
        a
      </div>
      <div class="col-md-5">
        <div>
          <%= product_comment.messege %>
        </div>
        <div id="star-rate-<%= product_comment.id %>"></div>
        <div class="flex_box">
          <div>
            <span class="img"><%=  attachment_image_tag product_comment.user, :image, size: "30x30",format: 'jpeg',fallback: "no_image.jpg"  %></span>
          </div>
          <div>
            <%= product_comment.user.nickname %>
          </div>
        </div>
          <div class="float-right">
            <% if user_signed_in? %>
              <% if product_comment.user_id == current_user.id %>
                <%= link_to "削除",comment_path(product_comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
                <% end %>
              <% end %>
          </div>
      </div>
    </div>
        <script>
        $('#star-rate-<%= product_comment.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= product_comment.rate %>,
        });
        </script>
      </td>
        <!-- 自分の口コミ削除機能 -->
        <% end %>
