<%= form_with model:@user,url: user_path,method: :patch,data: {remote: false} do |f| %>
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<%= attachment_image_tag @user, :image, size: "120x120",format: 'jpeg',fallback: "no_image.jpg"  %><br>
				<%= f.attachment_field :image, class: "image btn-lg" %>
			</div>

			<div class=col-xs-4>
				<div class="flex" style="padding-bottom:10px;">
					<div style="padding-right:63px;">
						<%= f.label :nickname %>
					</div>
					<div>
						<%= f.text_field :nickname, class: "name", :size=>"32" %>
					</div>
				</div>


				<%= f.fields_for :user_categories do |a| %>
					<%= a.hidden_field :user_id, :value => @user.id %>
					<div style="padding-bottom:10px;">
						<div style="padding-right:50px;">
							<%= a.label :category%>
						</div>
						<div>
							<%= a.collection_select :category_id, @parents, :id, :name, :prompt => "--選択して下さい--"  %>
						</div>
					</div>
				<% end %>

				<div class="flex" style="padding-bottom:10px;">
					<div style="padding-right:63px;">
						<%= f.label :introduction %>
					</div>
					<div>
						<%= f.text_area :introduction, class: "introduction" %>
					</div>
				</div>
				<div class="col-xs-offset-9 col-xs-3 action">
			 		<%= f.submit "変更を保存",class: "btn btn-primary btn-lg" %>
				</div>
			</div>
		</div>
	</div>
<% end %>