<div class="container">
  <div class="profile">
    <div class="row flex_box">
      <div class="col-md-3">
        <span class="img"><%=  attachment_image_tag @user, :image, size: "150x150",format: 'jpeg',fallback: "no_image.jpg"  %></span>
      </div>
      <div class="col-md-6">
        <div class="flex_box">
          <div>
            <% if @user.nickname.nil? %>
            	<h4>no_name</h4>
            <% else %>
            	<h4><%= @user.nickname %></h4>
            <% end %>
          </div>
          <div>
            <%= render partial:"relationships/follow_button", locals: { user: @user }%>
          </div>
        </div>
        <div>
          <span style="font-size:12px;">
          <%= "#{@user.followings.count}フォロー|" %>
          <%= "#{@user.followers.count}フォロワー|" %>
          <%= "#{@user.favorites.count}いいね" %>
          </span>
        </div>
        <br>
        <div>
          <span style="font-size:12px;"><%= "#{@user.nickname}さんのお気に入り:" %></span>
          <% @user.user_categories.each do |c| %>
            <%= c.category.name %>
          <% end %>
        </div>
        <div>
          <%= @user.introduction %>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <% unless @user.id == current_user.id %>
            <%# if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
            <% if @isRoom == true %>
              <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <br>
        <div>
          <% if @user == current_user %>
            <% unless @user.email == "test@example.com" %>
              <%= link_to "設定画面",edit_user_path(@user) , class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
        <br>
        <div>
        </div>
      </div>
    </div>
  </div>

  <div class="contain_top">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item mx-auto">
            <a href="#tab1" class="nav-link active" data-toggle="tab"><%= "クチコミ投稿(#{@user.products.count})" %></a>
          </li>
          <li class="nav-item mx-auto">
            <a href="#tab2" class="nav-link" data-toggle="tab"><%= "コメント投稿(#{@user.comments.count})" %></a>
          </li>
          <li class="nav-item mx-auto">
            <a href="#tab3" class="nav-link" data-toggle="tab"><%= "アンケート回答(#{@user.votes.count})" %></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content border">
      <div id="tab1" class="tab-pane active"> <!-- ここの中身を入れ替える -->
        <table class="table mb-0" style="background-color:#F5F5F5;">
          <thead>
            <tr>
              <th scope="col" class="border-left">商品名</th>
              <th scope="col">商品カテゴリー</th>
              <th scope="col" class="border-right">評価</th>
            </tr>
          </thead>
          <% @user.products.each do |product| %>
            <tbody>
              <tr>
                <td class="border-left"><%= link_to "#{product.name}", product_path(product),data: {"turbolinks"=>false} %></td>
                <td><%= link_to "#{product.category.name}", product_path,data: {"turbolinks"=>false} %></td>
                <% unless product.rate != nil %>
                <% product.rate = 0 %>
                <% end %>
                <td class="border-right"><%= link_to "#{product.rate}", product_path(product),data: {"turbolinks"=>false} %></td>
              </tr>
            </tbody>
            <% end %>
        </table>
      </div>
      <div id="tab2" class="tab-pane"> <!-- ここの中身を入れ替える -->
        <table class="table mb-0" style="background-color:#F5F5F5;">
          <thead>
            <tr>
              <th scope="col">投稿者</th>
              <th scope="col">タイトル</th>
              <th scope="col">コメント</th>
            </tr>
          </thead>
          <% @user.comments.each do |comment| %>
          <tbody>
            <tr>
              <td><%= link_to "#{comment.user.nickname}", user_path(comment.user),data: {"turbolinks"=>false} %></td>
              <td><%= link_to "#{comment.product.name}", product_path(comment.product),data: {"turbolinks"=>false} %></td>
              <td><%= link_to "#{comment.messege}", product_path(comment.product),data: {"turbolinks"=>false} %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      <div id="tab3" class="tab-pane"> <!-- ここの中身を入れ替える -->
        <table class="table mb-0" style="background-color:#F5F5F5;">
          <thead>
            <tr>
              <th scope="col" class="border-left">アンケート名</th>
              <th scope="col">説明</th>
              <th scope="col" class="border-right">回答</th>
            </tr>
          </thead>
          <% @user.votes.each do |vote| %>
            <tbody>
              <tr>
                <td class="border-left"><%= link_to "#{vote.question.title}", question_path(vote.question) %></td>
                <td><%= vote.question.text %></td>
                <td class="border-right"><%= link_to "#{vote.answer.text}", question_path(vote.question) %></td>
              </tr>
            </tbody>
            <% end %>
        </table>
      </div>
    </div>
  </div>
</div>