<%= form_with model:@product,url: product_path,method: :patch,data: {remote: false} do |f| %>
	<div class="row">
		<div class="col-xs-4">
			<%= attachment_image_tag @product, :image, size: "280x190",format: 'jpeg',fallback: "no_image.jpg"  %><br>
			<%= f.attachment_field :image, class: "image btn-lg" %>
		<div style="height:100px">
		</div>
		</div>

		<div class="flex" style="padding-bottom:10px;">
				<div style="padding-right:63px;">
					<%= f.label :name%>
				</div>
				<div>
					<%= f.text_field :name, class: "name", :size=>"32" %>
				</div>
			</div>

			<div class="col-xs-offset-9 col-xs-3 action">
		 		<%= f.submit "内容更新",class: "btn btn-primary btn-lg" %>
			</div>
		</div>
	</div>
<% end %>