<div class="container">
	<div class= "row">
		<div class="col-md-12 top_main">
			<img class="mx-auto d-block top-image" src="food_top.jpg">
		</div>
	</div>
	<div class= "row">
		<div class="col-md-8 flex_box">
			<div class="contain_menu">
				<%= link_to "評価ランキング", products_path, class: 'btn btn-danger' %>
			</div>
			<div class="contain_menu">
				<%= link_to "評価ランキング", products_path, class: 'btn btn-danger' %>
			</div>
			<div class="contain_menu">
				<%= link_to "評価ランキング", products_path, class: 'btn btn-danger' %>
			</div>
			<div class="contain_menu">
				<%= link_to "評価ランキング", products_path, class: 'btn btn-danger' %>
			</div>
		</div>
		<div class="col-md-4 flex_box">
			<div class="category_menu">
			</div>
		</div>
	</div>
</div>
<%= link_to "新規作成",new_product_path %>